@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Introducing LibraManage</h1>
    <p>Your All-in-One Library Companion! LibraManage simplifies library management with powerful features for both patrons and administrators. Easily browse, borrow, and reserve books, while admins streamline cataloging and reporting. Experience the future of library management with LibraManage</p>
</div>
